body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3a88fe;
    padding: 5px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.nav-item a:hover {
    background-color: black;
    border-radius: 5px;
}