div {
    /* border: 1px solid black; */
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

.product-card-image {
    width: 100%;
    border: 0px solid red;
}

.product-card-title {
    margin: 5px 0px 0px 0px;
}

.product-card-price {
    font-weight: bold;
    color: green;
}

.product-card-description {
    text-align: center;
}